/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 70px;
  margin-bottom: 100px;
  font-family: 'Raleway', sans-serif;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #eeeeee;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-sm {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  margin: auto;
}
.container .text-muted {
  margin: 20px 0;
}

.logo-container{
  margin: auto;
  margin-top: 40px;
  max-width: 400px;
}

/* Form/Signin */

/*body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

ul.search-list{
  list-style-type: none;
  padding: 10px;
}

.btn-block{
  margin-top: 10px;
}
.btn-primary {
  background-color: #942825;
  border-color: #7e211f;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #b12d2a;
  border-color: #942825;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #942825;
  border-color: #7e211f;
}
a {
  color: #942825;
  text-decoration: none;
}
a:hover, a:focus {
  color: #b12d2a;
  text-decoration: underline;
}
.spacer {
  margin-top: 20px;
}
footer p {
  margin-top: 20px;
}
p.note {
  margin-left: 10px;
}
.btn-allow-break {
  white-space: normal;
}
.btn-danger {
  background-color: #000;
  border-color: #000;
}
.btn-success {
  color: #fff;
  background-color: #7faf42;
  border-color: #6e9739;
}

.result {
  margin-bottom: 20px;
}

.sort{
  margin-bottom: 10px;
  float: right;
}

.search-customer{
  width: 400px;
}

@media screen{
  #printname { display: none; }
}

@media print {
  .navbar, button, .btn, footer, .nav, .tab-pane {
    display:none;
  }
  .container {
    padding-top: 0px;
  }

  .hidden-print {
      display: none !important;
  }

  body {
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
  }
  table {
      border:solid #000 !important;
      border-width:1px 0 0 1px !important;
  }
  th, td {
      border:solid #000 !important;
      border-width:0 1px 1px 0 !important;
      width: 20px;
      word-wrap: break-word;
  }
  #printname { display: block; }

  /*table#table-print{
    font-size:7px;
    width: 300px;
  }*/

  table .table-print{
    font-size:7px;
    width: 50%;
  }

  table .table-print-reports{
    font-size:7px;
    width: 50%;
  }

}

.paddingTop10{
  padding-top: 10px;
}

.paddingBottom10{
  padding-bottom: 10px !important;
}